<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>My Electron MySQL App</title>
  </head>
  <body>
    <div class="container">
      <h1>Connect to Database</h1>
      <form>
        <div class="form-group">
          <label for="databaseAddress">Host:</label>
          <input type="text" class="form-control" id="databaseAddress" placeholder="Enter database address">
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <div class="form-group">
          <label for="databaseName">Database Name:</label>
          <input type="text" class="form-control" id="databaseName" placeholder="Enter database name">
        </div>
        <br/>
        <button type="button" class="btn btn-primary" id="connectBtn">
            Connect
        </button>
      </form>
    </div>
  </body>
  <script src="../js/connect.js"></script>
</html>